/* for logo */
*{
  margin: 0px;
  padding: 0px;
}
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    padding: 10px 15px; 
  }
}
span{
  color: #0044ff;
}

.logo{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px;
  margin-left: 20px;
  margin-right: 20px;
  transition: transform 0.2s;
}
.logo:hover{
  transform: scale(1.05);
}
.navbar-brand{
  text-shadow: 2px 2px 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  font-size: xx-large;
}
#sub{
  text-decoration: none;
  text-shadow: none;
  font-weight: 100;
  font-size: small;
  color: blueviolet;
}
/* for nav item  */
.header{
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 500px;
  width: 100%;
}


/* CSS for the hover effect */
.navbar-nav .nav-link {
  text-decoration: none; /* Remove the default text underline */
  position: relative;
  transition: 0.2s; /* Add a smooth transition effect */
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the height as needed */
  bottom: 0;
  left: 0;
  background-color: #0044ff; /* Set the underline color */
  transform: scaleX(0); /* Initially, the underline is invisible */
  transform-origin: center;
  transition: transform 0.2s; /* Add a smooth transition for the underline */
}

.navbar-nav .nav-link:hover::after {
  transform: scaleX(1); /* Display the underline when hovering */
}
.navbar-nav .nav-link {
  padding: 10px 20px; /* Adjust the values for top/bottom and left/right spacing */
  margin-right: 10px; /* Add right margin to separate items */
}
#loginbtn{
  background-color: blue;
  color: aliceblue;
  border-radius: 5px;
  float: right;
  margin-left: 200px;
  
}
/* Home carousel */

#home{
  height: 60vh;
  width: 60vw;
}
#home img{
  height: 60vh;
  width: 60vw;
}

h1{
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  justify-content: center;
}
h6{
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  justify-content: center;
}
#signin{
  padding-top: 150px;
  display: flex;
  justify-content: center;
 
  
}
/* sihnup */
#up{
  background-image: url("../public/stage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Singinform */
#login-form{
  border: 1px solid black;
  box-shadow: 2px 2px 5px;
  height: 500px;
  width: 500px;
  text-align: center;
  background-image: url("../public/stage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#h3{
  text-shadow: 2px 2px 2px;
}
.home{
  padding-top: 100px;
}

.card {
  transition: transform 0.2s;
}

/* Add a hover effect to your cards */
.card:hover {
  transform: scale(1.05); /* Increase the size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}

.card-body{
  box-shadow: 2px 2px 10px;
}
.card img{
  height: 17.9rem;
  width: 17.9rem;
}
/* Style the footer */
footer {
  background-color: #000000b1;
  color: #ffffff;
  padding: 20px 0;
  box-shadow:2px 2px 2px #000000;
}

/* Style the contact information and social icons */
footer h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

footer p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  color: #fffdfd;
  text-decoration: none;
}

.social-icon:hover {
  text-decoration: underline;
}


/* services */
.services{
  padding-top: 100px;
  
}

/* Aboutus */
.comment{
  margin-left: 150px;
  border: solid rgb(255, 255, 255);
  box-shadow: 2px 2px 2px;
  width: 80%;
  height: 200px;
  text-align: center;
  align-items: center;
}
.about{
  padding-top: 80px;
  transition: transform 0.2s;
}
.about:hover{
  transform: scale(1.05);
}
.company{
  display: inline-block;
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
  height: 500px;
  width: 400px;
  transition: transform 0.2s;
  margin: 40px;
}
.company:hover{
  transform: scale(1.05);
}
.company img{
  height: 300px;
  width: 300px;
}
/* Gallery */

#gallery {
  padding-top: 70px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.class-item {
  width: calc(33.33% - 20px); /* 3 images per row with 20px padding between */
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.2s;
  box-sizing: border-box;
  overflow: hidden;
}

.class-item img {
  width: 100%;
  height: 20rem;
  display: block;
}

.class-item:hover {
  transform: scale(1.05);
}
/* contactus */
.contact{
  padding-top: 70px;
}
.additional{
  border: 1px solid black;
  height: 20rem;
  width: 20rem;
  margin: 2rem;
  box-shadow: 2px 2px 2px;
  padding: 20px;
  display: inline-block;
  transition: transform 0.2s;
}
.additional:hover{
  transform: scale(1.02 );
}
.booking{
  text-align: center;
}
/* wedding stages */
#stages{
  padding-top: 90px;
  transition: none;
}

/* Bachelor Parties */
.bachelor{
  padding-top: 90px;
}
/* Birthday Party */
.birthday{
  padding-top: 100px;
}
/* Admin  */
.container mt-4{
  
}